.git
.gitignore
node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
.medusa
**/.medusa
dist
**/dist
out
**/out
coverage
**/coverage
.env
.env.*
!.env.example
*.log
apps/storefront/.next
apps/backend/.medusa